*{
    padding: 0px;
    margin: 0px;
}
h1{
    color:#fff;
background: rgba(18, 72, 219, 0.308);
padding: 15px;
}
h2{

    color: #fff;
    background: rgba(211, 134, 46, 0.575);
}
.rahim{



}
.karim{

}
a{
    background: rgba(145, 199, 206, 0.233);
    color: rgba(3, 3, 3, 0.61);
    padding: 20px;
 display: inline-block;
 margin-left: 20px;
 margin-top: 25px;
 font-size: 25px;
 text-decoration: none;
 text-transform: capitalize;
 border: 5px solid pink;
}