*{
    margin: 0;
    padding: 0;

}

.full-website{
    text-align: center;
    color: aliceblue;
    width: 1024px;
    margin: 25px auto;
   text-transform: capitalize;
   box-shadow: 1px 1px 6px rgba(0, 0, 0 .4);
}

.menu{
    background: #7b2ec4;
}
.footer{
    background: #243a50;
}
.footer-bottom{
    background: #2c3e50;

}

.containar{
    background: #099975f6;
}

img{
    max-width: 100% ;
    margin-bottom: -5px;
}
.op{
    padding: 30px 0;
}


.cover {
    height: 100px;
    width: 233px;
    background: rgb(239 153 96);
    text-align: center;
    border-radius: 50%;
    padding: 14px;
    border: 2px solid red;
}
.kusum {
    height: 100px;
    width: 100px;
    background: rgb(245, 80, 10);
    display: inline-block;
    border-radius: 50%;
}

.flag {
    margin: 10px 45px;
}

.sobuz {
    height: 100px;
    width: 300px;
    background: green;
    text-align: center;
    padding: 23px;
}

.lal {
    height: 100px;
    width: 100px;
    background: red;
    display: inline-block;
    border-radius: 50%;
    margin-right: 49px;
}