*{
    margin: 0;
    padding: 0;
}

.header-menu{ background:  #7efff5;}
.header-menu ul{ text-align: center;}
.header-menu ul li{ display: inline-block;}
.header-menu ul li a{ 
color: rgb(8, 56, 160);
padding: 10px 30px;
display: inline-block;
text-decoration: none;
border-right:  1px solid rgba(26, 24, 24, 0.623);
margin-left: -5px;
}
.header-menu ul li:first-child a{
    border-left: 1px solid rgba(26, 24, 24, 0.623) ;
}
.header-menu ul li a:hover{ background: #17c0eb;}



/* drop down menu strat */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    left: 0; 
    top: 100%;
    width: 156px;
    background: #67e6dc ;
    margin-left: -5px;
    border-top: 1px solid #ddd;
    transition: .4s;
    
}
.header-menu ul li ul li{ 
    display: block;
    margin-left: 5px;
}
.header-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom: 1px solid #ddd;
}

.header-menu ul ul li:first-child a{
    border-left: none ;
}


/* hover part */
.header-menu ul li ul{
   opacity: 0;
   visibility: hidden;
   transform: scaley(0);
   transform-origin: top center;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
 
}
.header-menu ul li ul li a:hover{}


/* social menu */
.social-menu{
    margin-top: 100px;
}
.social-menu ul{
  text-align: center;
}
.social-menu ul li{
  display: inline-block;
  margin-left: -5px;

}
.social-menu ul li a{
   
   color: #ddd;
   background: #34495e; 
   font-size: 40px;
   margin-left: 5px;
   margin-right: 5px;
   height: 100px;
   width: 100px;
   display: inline-block;
   text-align: center;
   line-height: 100px;
   border-radius: 50%;

}
