.main-div {
    height: 400px;
    width: 700px;
    border: 1px solid #000;
    margin: auto;
    margin-bottom: 50px;
  }
  
  .div1 {
    height: 200px;
    width: 200px;
    background: darkgreen;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .div2 {
    height: 200px;
    width: 200px;
    background: darkgoldenrod;
    display: inline-block;
    position: absolute;
    top: 69px;
    left: 67px;
  }
  
  .div3 {
    height: 200px;
    width: 200px;
    background: darkcyan;
    display: inline-block;
    position: absolute;
    top: 124px;
    right: 342px;
  }
  
  .single-div {
    position: relative;
  }

  /* photo hover part */
  
  .photo-work {
    height: 141px;
    width: 300px;
    border: 1px solid #000;
  }
  
  .chobi {
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden; /* Added this line */
  }
  
  .chobi img {
    max-width: 100%;
  }
  
  .details {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    background: rgba(70, 184, 90, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s; /* Added this line */
  }
  
  .chobi:hover .details {
    visibility: visible;
    opacity: 1;
  }
  